body {
    background-color: black;
    color: gold;
}

h1 {
    color:gold;
    font-weight: 800;
    font-family: 'Fjalla One', sans-serif;
}

a {
    color: gold;
}
footer {
    color:gold;
    font-weight: bold;

}

th {
    color:gold;
    text-decoration: underline;
    font-style: italic;
}

td {
    color:gold;
    text-align: left;
}

.wrap{
    text-align: center
}

.left {
    float: left;
    width: 33.33%;
}

.right {
    float: left;
    width: 33.33%;
}

.center {
    float: left;
    width: 33.33%;
}

.item {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    font-size: 14pt;
}
