body {
    background-color: black;
    color: gold;
}

h1 {
    color:gold;
    font-weight: 800;
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    color: gold;
    font-weight: 400;
}

a {
    color: gold;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: red;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    color: indigo;
}

a:active {
    text-decoration: none;
}

.footer {
    color:gold;
    font-weight: bold;
    position: fixed;
    bottom: 10%;
    height: 30px;
    width: 100%;


}

th {
    color:gold;
    text-decoration: none;
    font-style: italic;
}

td {
    color:gold;
    text-align: left;
}

.wrap{
    text-align: center
}

.left {
    float: left;
    width: 33.33%;
}

.right {
    float: left;
    width: 33.33%;
}

.center {
    float: left;
    width: 33.33%;
}

.item {
    font-family: 'Fjalla One', sans-serif;
    font-weight: bolder;
    font-size: 14pt;
}

hr {
    width: 100%; 
}